<div class="layout-container">
    <div class="container-dashboard">
        <h3 style="font-size: 24px; font-weight: bold;">Acerca de</h3>
        <p class="p-dashboard p-dashboard-letra">
            El desarrollo de software gira ahora en torno a las APIs,
            que relacionan y transmiten datos y funcionalidades entre muchos sistemas y aplicaciones. Por suerte, probar
            estas APIs en general puede incrementar la eficacia de cualquier procedimiento de pruebas de forma
            significativa, y puede ayudarte a producir software más rápido que nunca.
        </p>
        <p class="p-dashboard p-dashboard-letra">
            Las pruebas de API han ido obteniendo más reconocimiento durante los últimos cinco años. Es una herramienta
            necesaria para casi cualquier equipo de pruebas de un producto, y se utiliza tanto para tareas básicas tales
            como la carga de una imagen como para tareas complejas tales como los procesos de pago.
        </p>
        <p class="p-dashboard p-dashboard-letra">
            Esencialmente, las API son una colección de métodos y funciones que permiten desarrollar aplicaciones. Las
            API funcionan como mensajeros entre las personas y el proveedor de servicios, recibiendo las peticiones y
            respondiendo con un resultado. En términos simples, funcionan como intermediarios entre varios sistemas de
            software. Permiten la comunicación entre dos programas que no están conectados. Obtienen acceso a la
            información y las funciones de los distintos programas o sistemas operativos.
        </p>
        <p class="p-dashboard p-dashboard-letra">Al obtener los elementos que precisan para desarrollar, las APIs efectivas hacen que la tarea sea más fácil
            para los programadores que deseen crear programas informáticos. Además, son compatibles con varios formatos
            tales como XML, JSON, texto plano, y HTTP ya que pueden las API pueden combinarse y reutilizarse para crear
            nuevos servicios.
        </p>
        <p class="p-dashboard p-dashboard-letra">Los desarrolladores de software pueden diseñar APIs utilizando varias estructuras, pero las más comunes son
            el REST o el SOAP. Las API REST se adhieren a los estándares REST y transportan datos de un servidor a un
            cliente. Las API SOAP utilizan archivos XML para encriptar datos. La especificación SOAP es muy específica
            en tanto los requerimientos del formato y el contenido que pueden ir en un mensaje.
        </p>
    </div>
</div>