<div class="layout-container">
    <div class="container-dashboard">
        <h3 style="font-size: 24px; font-weight: bold;">Pactum API</h3>
        <p class="p-dashboard p-dashboard-titulo">Bienvenidos a Pactum API</p>
        <p class="p-dashboard p-dashboard-letra">
            Con la creciente necesidad de operaciones digitales seguras y confiables, los servicios de confianza se
            han vuelto esenciales para la gestión electrónica.
            Partiendo de estándares internacionales y en cumplimiento con la NOM-151, ISO/IEC, CSA, FIPS y SOC,
            presentamos nuestra API de servicios de confianza,
            diseñada para integrarse sin problemas con aplicaciones, plataformas, sitios web, CRM, ERP, CLM o
            almacenamiento en la nube. La API REST Cincel de nuestra
            plataforma no solo permite la integración de funcionalidades de firma digital, sino que va más allá,
            ofreciendo características vitales como Registros de
            Conservación de Mensajes de Datos y Sellos de Tiempo Digitales de conformidad con la NOM-151 con Sellos
            de Tiempo Blockchain, Verificaciones de Identidad y
            Verificaciones de Antecedentes de más de 100 registros públicos. Su diseño refleja las principales
            funciones de nuestra plataforma Trust 360, permitiendo
            otorgar o solicitar firmas electrónicas con vinculación legal, así como construir flujos de trabajo
            basados ​​en etapas, obtención de registros y Sellos de
            Tiempo (NOM-151) con archivos theirs.ASN1, entre otros. Esta solución garantiza que cada transacción y
            operación se realice con la máxima seguridad,
            confiabilidad y sobre todo, cumpliendo con las regulaciones y estándares vigentes para México y
            Latinoamérica. Ahora, más que nunca, asegurar la validez y
            autenticidad de las transacciones digitales es crucial, y con nuestra API, este proceso es más fácil y
            eficiente que nunca.
        </p>
    </div>
    <div class="container-dashboard">
        <mat-card class="example-card">
            <!-- <mat-card-header>
                  <mat-card-title>Pactum API</mat-card-title>
                  <mat-card-subtitle>Servicios de confianza digital</mat-card-subtitle>
                </mat-card-header> -->
            <img mat-card-image src="assets/logo.png" alt="Pactum API Logo">
            <mat-card-content>
                <p>Con nuestra solución, aseguramos la validez y autenticidad de las transacciones digitales con la
                    máxima seguridad.</p>
            </mat-card-content>
        </mat-card>
    </div>
</div>